<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Propietarios</title>
</head>
<body>

<h1>Todos los Propietarios</h1>

<a th:href="@{/mascotas}">Ver mascotas</a><br><br>

<a th:href="@{/propietarios/nuevo}">Registrar Nuevo Propietario</a><br><br>

<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
		<tr th:each="propietario : ${propietarios.content}">
		    <td th:text="${propietario.nombre}">Nombre</td>
		    <td th:text="${propietario.direccion}">Dirección</td>
		    <td th:text="${propietario.telefono}">Teléfono</td>
		</tr>
    </tbody>
</table><br><br>

<div>
    <a th:if="${currentPage > 0}" th:href="@{/propietarios(page=${currentPage - 1}, size=5)}">Anterior</a>
    <span>Página [[${currentPage}]]</span>
    <a th:if="${propietarios.hasNext()}" th:href="@{/propietarios(page=${currentPage + 1}, size=5)}">Siguiente</a>
</div>

</body>
</html>
